/* ===== PRINT PAGE ===== */
.print-page {
  padding: 40px;
  text-align: center;
}

/* TABLE */
.print-table {
  margin-top: 20px;
}

.print-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* PRINT STYLE */
@media print {
  button {
    display: none;
  }

  body {
    background: white;
  }
} 

